body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.mobile-navbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}


.logo {
  display: flex;
  align-items: center;
  float: left;
  padding: 50px;
  box-sizing: border-box; /* Include padding and border in the width */
  border: none; /* Optional: to visualize the columns */
}

.contact-info-header {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
  background-color: #0486aa;
  padding: 10px;
  height: 100px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 0);
  width: 75%; /* Each column takes up 50% of the container */
  /* float: right; */
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the width */
  border: none; /* Optional: to visualize the columns */
}

.contact-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #fff !important;
}

.contact-item img {
  height: 26px;
  width: 26px;
  margin-right: 5px;
}

.apply-btn {
  width: 160px;
  background-color: #ff7f3f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
}
.mobile-nav{
  display: none;
}
.logo {
  height: 20rem;
  width: 20rem;
  border: 1px solid black;
}
@media screen and (max-width: 600px) {
  .float-contains {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #0486aa;
    color: black;
    height: 2rem; /* Default height */
    transition: height 0.3s ease; /* Smooth transition */
  }

  .mobile-nav.bar-open {
    height: 10rem; /* Height when menu is open */
  }

  .nav-mobile {
    background-color: #0486aa;
  }

  .nav-mobile img {
    height: 80%;
    width: 10rem;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .bar {
    height: 4px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .bar.open:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px; /* Adjusted to accommodate logo size */
    right: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .menu-items.show {
    display: flex;
  }

  .menu-items a {
    color: black;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
  }
}

