.become-main {
    border: 1px solid black;
    min-height: 10rem;
    display: grid;
    grid-template-columns: 35% 40%;
    justify-content: space-evenly;
    padding: 2rem 4rem;
    background-image: url('../../assets/become-bg.png');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.become-content h1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #1F284F;

}
.become-form{
    /* border: 1px solid black; */
    box-shadow: 0px 4px 20px 0px #00000014;
     padding: 1rem;
     border-radius: 10px;
}
.name{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}
.apply-div{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.applybtn{
    padding:5px 20px;
}